html {
	min-height:100%
}

body {
	height:100%;
	background:#c34e1a;
	background-repeat:none;
	background-image:url(../../assets/img/bg.png),-moz-linear-gradient(top,#c34e1a 0%,#e2840d 100%);
	background-image:url(../../assets/img/bg.png),-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c34e1a),color-stop(100%,#e2840d));
	background-image:url(../../assets/img/bg.png),-webkit-linear-gradient(top,#c34e1a 0%,#e2840d 100%);
	background-image:url(../../assets/img/bg.png),-o-linear-gradient(top,#c34e1a 0%,#e2840d 100%);
	background-image:url(../../assets/img/bg.png),-ms-linear-gradient(top,#c34e1a 0%,#e2840d 100%);
	background-image:url(../../assets/img/bg.png),linear-gradient(to bottom,#c34e1a 0%,#e2840d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c34e1a',endColorstr='#e2840d',GradientType=0)
}

.logo {
	position:fixed;
	z-index:5000;
	left:10%
}

.padded {
	padding:10px
}

.brand {
	width:200px
}

.white {
	margin-top:115px;
	background-color:rgba(117,37,0,.65);
	border:none!important;
	padding:20px
}

.white-menu {
	background-color:rgba(117,37,0,.65);
	border:none!important;
	padding:20px
}

.navbar-inverse {
	color:#fff
}

.navbar-inverse .navbar-inner {
	background:#962F00;
	border-color:#962F00;
	color:#666
}

.navbar-inverse .navbar-link {
	color:#222!important;
	text-align:center!important
}

.navbar-inverse .navbar-link:hover,.navbar-inverse .navbar-link:focus {
	color:#000!important
}

.footer {
	color:#fff;
	margin-bottom:-10px;
	padding-bottom:25px
}

.white-text {
	color:#fff
}

.navbar-absolute-bottom .navbar-inner {
	padding-top:10px;
	padding-right:0;
	padding-left:0;
	border-radius:0 0 0 0
}

.index-pic {
	width:100%
}

.pastor-div{
	overflow:hidden;
	max-width:275px;
	height:150px;
}

.pastor{
	color:#fff;
}


@media (max-width: 320px) {
	.logo {
		position:absolute;
		z-index:5000;
		left:10%
	}

	.container-fluid {
		margin-top:-10px;
		margin-right:20px
	}

	.container {
		margin-top:50px!important
	}

	.btn-navbar {
		margin-right:20px!important;
		margin-top:-20px!important
	}
}

@media (max-width: 480px) {
	.logo {
		position:absolute;
		z-index:5000;
		left:10%
	}

	.container-fluid {
		margin-top:-10px;
		margin-right:10px;
		padding-right:0;
		padding-left:10px
	}

	.container {
		margin-top:45px!important
	}

	.btn-navbar {
		margin-right:20px!important;
		margin-top:-20px!important
	}
}

@media (max-width: 640px) {
	.logo {
		position:absolute;
		z-index:5000;
		left:10%
	}

	.container-fluid {
		margin-top:-10px;
		padding-right:10px;
		padding-left:10px
	}

	.container {
		margin-top:45px!important
	}

	.btn-navbar {
		margin-right:20px!important;
		margin-top:-20px!important
	}
}

@media (max-width: 768px) {
	.logo {
		position:absolute;
		z-index:5000;
		left:10%
	}

	.container-fluid {
		margin-top:-10px;
		padding-right:10px;
		padding-left:10px
	}

	.container {
		margin-top:45px!important
	}

	.btn-navbar {
		margin-right:20px!important;
		margin-top:-20px!important
	}

	.navbar-inner {
		margin-right:-10px;
		margin-left:-10px;
		border-radius:0 0 0 0
	}

	.footer {
		padding-bottom:-60px!important
	}
}

@media (max-width: 1024px) {
	.logo {
		position:absolute;
		z-index:5000;
		left:10%
	}

	.navbar-inner {
		margin-top:-0
	}

	.container-fluid {
		margin-top:-10px;
		padding-right:10px;
		padding-left:10px;
		margin-top:-10px!important
	}

	.btn-navbar {
		margin-right:20px!important;
		margin-top:-20px!important
	}

	.navbar-inner {
		margin-right:-10px;
		margin-left:-10px;
		border-radius:0 0 0 0
	}

	.footer {
		padding-bottom:5px
	}
}
